
.icon-cricket:before { content: '\e800'; } /* '' */
.icon-bicycle:before { content: '\e801'; } /* '' */
.icon-baseball:before { content: '\e802'; } /* '' */
.icon-golf:before { content: '\e803'; } /* '' */
.icon-skiing:before { content: '\e804'; } /* '' */
.icon-soccer:before { content: '\e805'; } /* '' */
.icon-swimming:before { content: '\e806'; } /* '' */
.icon-tennis:before { content: '\e807'; } /* '' */
.icon-theatre:before { content: '\e808'; } /* '' */
.icon-football:before { content: '\e809'; } /* '' */
.icon-basketball-1:before { content: '\e80a'; } /* '' */
.icon-pitch:before { content: '\e80b'; } /* '' */
.icon-badminton:before { content: '\e80c'; } /* '' */
.icon-rowing:before { content: '\e80d'; } /* '' */
.icon-rugby:before { content: '\e80e'; } /* '' */
.icon-archery:before { content: '\e80f'; } /* '' */
.icon-baking:before { content: '\e810'; } /* '' */
.icon-dance:before { content: '\e811'; } /* '' */
.icon-bouldering:before { content: '\e812'; } /* '' */
.icon-canoe:before { content: '\e813'; } /* '' */
.icon-shooting:before { content: '\e814'; } /* '' */
.icon-climbing:before { content: '\e815'; } /* '' */
.icon-bowl:before { content: '\e816'; } /* '' */
.icon-cycling:before { content: '\e817'; } /* '' */
.icon-volleyball:before { content: '\e818'; } /* '' */
.icon-unichallenge:before { content: '\e819'; } /* '' */
.icon-trampoline:before { content: '\e81a'; } /* '' */
.icon-tabletennis:before { content: '\e81b'; } /* '' */
.icon-squash:before { content: '\e81c'; } /* '' */
.icon-sail:before { content: '\e81d'; } /* '' */
.icon-run:before { content: '\e81e'; } /* '' */
.icon-pool:before { content: '\e81f'; } /* '' */
.icon-goal:before { content: '\e820'; } /* '' */
.icon-lacrosse:before { content: '\e821'; } /* '' */
.icon-martial:before { content: '\e822'; } /* '' */
.icon-hockey:before { content: '\e823'; } /* '' */
.icon-frisbee:before { content: '\e824'; } /* '' */
.icon-handball:before { content: '\e825'; } /* '' */
.icon-fencing:before { content: '\e826'; } /* '' */
.icon-horse:before { content: '\e827'; } /* '' */
.icon-netball:before { content: '\e828'; } /* '' */
.icon-darts:before { content: '\e829'; } /* '' */
.icon-fulltime:before { content: '\e82a'; } /* '' */
.icon-halftime:before { content: '\e82b'; } /* '' */
.icon-kickoff:before { content: '\e82c'; } /* '' */
.icon-debate:before { content: '\e82d'; } /* '' */
.icon-starttime:before { content: '\e82e'; } /* '' */
.icon-cheerleader:before { content: '\e82f'; } /* '' */
.icon-pokemon:before { content: '\e830'; } /* '' */
.icon-computer:before { content: '\e831'; } /* '' */
.icon-boxing:before { content: '\e832'; } /* '' */
.icon-croquet:before { content: '\e833'; } /* '' */
.icon-cinema:before { content: '\e834'; } /* '' */